{{ "<!-- About Section -->" | safeHTML }}
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading about_line">{{ with .Site.Params.about.title }}{{ . | markdownify }}{{ end }}</h2>
                <h3 class="section-subheading text-muted">{{ with .Site.Params.about.subtitle }}{{ . | markdownify }}{{ end }}</h3>
            </div>
        </div>
        <div class="row">
          <div class="col-lg-12 long-about">
            <p><a class="critical_link" href="http://www.appledaily.com.tw/appledaily/article/headline/20130522/35033635/#">昌達事件</a>催生了全國牛樟芝產業第一家「公品牌」</p>
            <p>2013年初因<a class="critical_link" href="http://www.appledaily.com.tw/appledaily/article/headline/20130522/35033635/#">昌達事件</a>讓牛樟芝產業面臨極大的衝擊，沒想到一個不夠嚴謹的實驗在有心人的操弄之下竟然完全否定眾多專家學者多年來累積的實驗成果，這件事幾經媒體及名嘴的大勢渲染，造成消費者對牛樟芝安全上的疑慮，市場幾乎完全停滯，許多廠商甚至慘遭退貨！讓這個剛萌芽的產業受到前所未有的打擊</p>
            <p>台灣食藥用菇菌類生技協會創會會長暨台灣牛樟菇菌產業聯盟招集人粘銘昌先生有鑒於當時市場上假貨充斥、等級不分及標示不清等亂象，長久下去將對這個產業造成更大的傷害，認為危機就是轉機，決定出來集合對牛樟芝有足夠認知的產官學者，嚴選國內製造優質牛樟芝產品的廠商，成立一個能被消費者信賴的「公品牌」</p>
            <p> 經過將近一整年努力奔走，終於集合了七家理念一致各具特色的公司轉投資，共同成立一個「公品牌」<strong>福爾摩沙牛樟股份有限公司</strong></p>
          </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    {{ range $i, $e := .Site.Params.about.events }}
                    <li {{ if (not (modBool $i 2)) }}class="timeline-inverted" {{ end }}>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/{{ .img }}" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>{{ .date }}</h4>
                                <h4 class="subheading">{{ .title | markdownify }}</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">{{ .description  | markdownify }}</p>
                            </div>
                        </div>
                    </li>
                    {{ end }}
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>{{ with .Site.Params.about.endpoint }}{{ . | markdownify }}{{ end }}</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container text-comment">
      <div class="row text-center bg-warning">
        <p>衛服部最新規定:</p>
        <p>牛樟芝產品未完成90天毒理實驗,2016年7月11日以後都不准販售</p>
      </div>
    </div>
</section>
